# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\qtanaf\OneDrive - HKUST Connect\Tasks\体育网站搭建\templatemo_569_edu_meeting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
